---
siteTitle: Eleventy Plugin Starter
---

<!doctype html>

<html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="author" content="John M. Wargo">
    <meta name="description" content="A simple home page for the Eleventy plugin starter sample site">
    <link rel="stylesheet" href="/assets/css/mvp.css">
  </head>

  <body>
    <h1>{{ title }}</h1>
    {{ content }}
    <script src="/assets/js/index.js"></script>
  </body>
</html>